!!! XML
!!! Strict
%html{ html_attrs }

  %head
    %title Cloudmarks: antisocial bookmarking for you
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css"}
    
  %body
  
    %h1 Cloudmarks
    
    -[:notice, :error].each do |type|
      -if flash[type]
        - flash[type].each do |msg|
          = %(<div id="#{type}">#{msg}</div>)
  
    #nav
      - if session[:user]
        %a{ :href => "/logout" } logout
      - else
        = haml(:login, :layout => false)

    #cloudmarks
      #test= DateTime.now()
